* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
}

.utils {
    display: flex;
}

.utils * {
    margin-right: 10px;
}

.box {
    padding-top: 0;
    border: 1px solid #000;
    margin-bottom: 20px;
    margin-top: 20px;
}

.util-box {
    display: flex;
}

.util-box>* {
    margin-right: 20px;
}

.box.table-container .box-content {
    overflow: auto;
    max-height: 300px;
    padding: 0;
}

.box-title {
    padding: 10px;
    background-color: #333333;
    color: #FFF;
    font-size: 1.2rem;
}

.box-content {
    padding: 10px;
    padding-top: 5px;
    padding-left: 20px;
}

.nav-btn {
    cursor: pointer;
}

.App {
    height: 100vh;
}

.close-nav-btn {
    font-size: 1.5rem;
    color: #FFF;
    font-weight: bolder;
    position: absolute;
    right: 30px;
    top: 15px;
    cursor: pointer;
    display: none;
}

.close-nav-btn.active {
    display: block;
}

.side-nav {
    width: 30%;
    background-color: #333333;
    height: 100vh;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: -400px;
    transition: all ease 0.5s;
    z-index: 9999;
}

.side-nav.active {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0;
}

.side-nav .profile {
    border-bottom: 1px solid #FFF;
    padding: 10px;
    padding-left: 30px;
    color: #FFF;
}

.side-nav .profile h4 {
    font-size: 1rem;
}

.side-nav-list ul li a {
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    font-weight: bold;
    font-size: 1.5rem;
    color: #FFF;
    display: inline-block;
}

.side-nav-list ul li a:hover {
    text-decoration: none;
    background-color: #706c61;
}

main {
    width: 100%;
}

@media (min-width: 320px) and (max-width: 1024px) {}

@media (min-width: 768px) and (max-width: 1024px) {
    .side-nav {
        width: 50%;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .side-nav {
        width: 80%;
    }
}